.headtext{
    padding-top: 20px;
    font-size: large    ;
    font-weight: 800;
}

.meri-class{
    background-image: url("https://assets-global.website-files.com/6516813912555e8b460c1f1e/652d1a8b12eb4cf0c38e2af8_Unique%20hiring%20process.png");
}

.form{
    display: flex;
    background-color: #1f2937;
    padding: 25px;
    height: 770px;
    align-items: center;
    filter: blur(5);
    color: grey;
    justify-content: center;
}

input{
    margin: 10px;
    padding: 10px;
    width: 300px;
    width: 100%;
    border-radius: 10px;

}

select{
    margin: 10px;
    padding: 10px;
    width: 300px;
    width: 100%;
    border-radius: 10px;
}
